*{
    color: lightblue;
    transition: transform 0.5s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
}
.contentMenu{
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid gainsboro;
    padding-bottom: 10px;
    font-size: 1.2rem;
}
.centerContent{
    display: flex;
    flex: 1;
    justify-content: center;
    margin-bottom: 20px;
    width: 1vw;
    padding: 0;
    margin: 0;
}
.contentInfo{
    display: flex;
    align-items: center;
    /* border: #17a2b8 solid 1px; */
    display: flex;
    flex: 5;
}
.contentImg{
    justify-content: center;
    /* border: #da0fae solid 1px; */
    display: flex;
    flex: 2;

}
.contentImg img{
    width: 3vw;
}
.input{
    height: 7vh;
    width: 20vw;
    border-radius: 5px;
    background-color: transparent;
    padding-top: 1rem;
    border: darkgray solid 2px;
    
}
.fa-search{
    position: absolute;
    align-items: center;
    left: 20vw;
    font-size: 1.5rem;
    /* margin-top: 10px; */
    border: darkgray solid 2px;
    height: 6.5vh;
    display: flex;
    border-bottom: none;
    border-top: none;
    border-right: none;
    padding-left: 10px;
}
.suprimer{
    border-bottom: none;
    margin-bottom: 10px;
}



.conteneurPrincipal{
background-color: rgb(1, 1, 54);
display: flex;
flex-direction: column;
/* width: 20vw; */
height: 100%;
overflow: auto; 
padding:3% 2% 0 2%;
left: 0;
top: 0;
bottom:0;
}
ul{
    /* border: #17a2b8 solid 2px; */

    padding: 0;
}
.user{
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6%;
    
}

.client{
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6%;

}
img{
    border-radius: 50%;
    width: 20%; 
    margin-right: 5%;
}

a{
    text-decoration: none;
}
#search{
    display: flex;
    margin: 5% 0 3%;
}
.search input{
    flex: 6;
    background-color: transparent;
    border: solid 1px lightgray;
    padding: 5%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
   
}
.search button{
    flex: 1;
    /* border: solid 1px lightgray; */
    background-color: transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
    font-size: 1.5rem;


}

.cellule{
    position: relative;
    border: solid 1px lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    /* padding: 2%; */
    color:white;
    align-items: center;
    margin: 3px ;
    height: 7vh;
    font-size: 1.2rem;
    
    
}
.cellule:hover{
    background-color: #423223;
    color: #423223;
    font-size: 2rem;
}
.cellule span{
    display: inline-block;
    
    /* border: solid 1px goldenrod; */
}
.divIcone{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    font-size: 2rem;
}
.divElements{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex: 5;
    padding-right: 15px  ;
    width: 15vw;
}

.divElements:first-child{
    flex: 1;
}
.number{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 20px;
    height: 20px;
    background-color: #17a2b8;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    font-size: 1.3rem;
    padding-bottom: 5px;
    padding-left: 5px;

}
.new{
    width: 35px;
    height: 20px;
    background-color: #dc3545;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    font-size: 1rem;
}
.divParent{
    display:flex;
    flex-direction: column;
    
    /* border: green 1px solid; */
    /* margin: 2vh 0; */
}
.rotation{
    transform: rotate(-90deg);
}
.sousMenu{
    display: none;
}
.sousMenuRotate{
    display: flex;
    flex-direction: column;
}
.fa-bars{
    /* position: absolute; */
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3vh;
    margin-left: 1vw;
    color: black;
    
}
.hidden{
    display: none;
}


/* .cellule2{
    position: relative;
    border: solid 1px lightgray;
    border-radius: 5px;
    display: flex;
    padding: 2%;
    color:white;
    align-items: center;
} */

/* .cellule2:hover{
    background-color: gray;
    color: white;
}
.fas,.fa-angle-down{
    font-size: 25px;
    margin:0 1% 0 2% ;
}
.fa-angle-left,.fa-angle-down{
    position: absolute;
    right: 5%;
}

.paragraphe{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 2.5vw;
}
.fa-circle{
    position: absolute;
    left: 5%;
}
.cellule2{
    /* display: none; */
    /* visibility: hidden; */
/* }
.cell{
    display: none;
} */
 
